# dependencies
website/node_modules

# IDE
website/.idea
website/.vscode

# production
website/build

# misc
website/.DS_Store
website/.env.local
website/.env.development.local
website/.env.test.local
website/.env.production.local


website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*
